
body {
	margin: 0;
	padding: 0;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}
.main-nav {
	margin-bottom: 80px;
}

.main-header h1 {
	margin: 0;
	padding: 0;
	padding-bottom: 115px;
	text-align: center;
	align-content: center;
	font-family: Roboto-medium, Arial, sans-serif;
	font-size: 55px;
	line-height: 55px;
}

.main-header {
	margin-bottom: 60px;
}

.catalog {
	display: flex;
	justify-content: space-between;
}

.column-right {
	width: 760px;
}

.sort-control {
	display: flex;
	justify-content: space-between;
}

.control {
	display: flex;
	justify-content: flex-end;
}