@font-face {
	font-family: Roboto;
	src: url(../fonts/web/roboto.woff2);
}

@font-face {
	font-family: Roboto-medium;
	src: url(../fonts/web/robotomedium.woff2)
}

@font-face {
	font-family: Roboto-bold;
	src: url(../fonts/web/robotobold.woff2)
}

body {
	margin: 0;
	padding: 0;
	min-width: 1240px;

	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

/*
body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #000000;
  background-image: url("img/bg.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}
*/

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
	text-decoration: none; 
}

.button {
	display: inline-block;
	width: 240px;
	padding: 13px 0;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;

	background-color: #fb565a;
	border-radius: 3px;
	border: none;
}

.button:hover,
.button:focus {
	background-color: #e74246;
}

.button:active {
	color: rgba(255, 255, 255, 0.3);
	
	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

header {
	background-color: #eeeeee;
	margin-bottom: 80px;
}

.main-nav {
	display: flex;
	align-items: center;
	padding-top: 49px;
}

.main-logo {
	display: flex;
	justify-content: flex-start;
	width: 160px;
	margin-right: 20px;
}

.site-nav-list ,
.backet-nav {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}


.site-nav-list {
	display: flex;
	justify-content: space-between;

	width: 440px;
	margin-left: 180px;
}

.site-nav-list a,
.backet-nav a {
	color: #000000;
	font-weight: 700;
	text-transform: uppercase;
}

.site-nav-list li,
.backet-nav li {
	padding: 10px 0;
	border-bottom: 2px solid #fb565a;
}

.site-nav-list a:hover,
.backet-nav a:hover {
	color: #fb565a;
}

.site-nav-list a:active,
.backet-nav a:active {
	color: #000000;
	opacity: 0.3;
}

.backet-nav {
	display: flex;
	justify-content: flex-end;
	width: 160px;
	margin-left: 240px;
}

.backet-nav li {
	display: flex;
	justify-content: flex-end;
	width: 112px;
}

.backet-nav li::before {
	content: "";
	position: absolute;
	background-image: url(../img/cart-icon.svg);
	background-repeat: no-repeat;
	height: 15px;
	width: 15px; 
	margin: 4px 0px 0px -97px;
}


/*slider*/


.bx-wrapper {
	margin: 0;
	padding: 0;
	box-shadow: 0 0 0;
	border: none;
	background-color: #eeeeee;
	overflow: hidden;
}

.bx-wrapper .bx-pager {
	bottom: 40px;
}

.slider-wrapper {
	display: flex;
	width: 100%;
}

.bx-controls-direction {
	display: none;
}

.slider-element {
	display: flex;
	height: 430px;
}

.slider-element img {
	position: absolute;
	right: 0px;
	top: 17px;
	align-items: center;
}

.slider-element-left {
	width: 540px;
}

.slider-element:nth-child(3) img {
	top: 0px;
}

.slider-element-left h3 {
	margin: 0;
	padding: 0;
	margin-top: 80px;
	margin-bottom: 25px;
	font-family: Roboto;
	font-weight: 300;
	font-size: 55px;
	line-height: 55px;
}

.slider-element-left p {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	margin-bottom: 45px;
}


/* main */

.offers {
	margin-bottom: 120px;
}

.offers::after {
	content: "";
	position: absolute;
	margin-top:  80px;
	width: 1200px;
	border-bottom: 2px solid #eeeeee;
}

.offers-list {
	margin: 0;
	padding: 0;
	width: 	1160px;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

.offers-item:nth-child(3n+4),
.offers-item:first-child {
	margin: 0;
	padding: 0;
}



.offers-item {
	width: 300px;
	margin-left: 100px;
}



.offers-item img {
	margin-bottom: 25px;
}

.offers-item h3 {
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	font-family: Roboto-bold, Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	text-transform: uppercase;
}

.offers-item p {
	margin: 0;
	padding: 0;
	width: 260px;
	margin-bottom: 35px;
	font-size: 16px;
	line-height: 24px;
}

.button-illustration {
	width: 160px;
}

.offers-item:nth-child(2) .button-illustration {
	background-color: #00ca74;
}

.offers-item:nth-child(2) .button-illustration:hover {
	background-color: #00bc6c;
}

.offers-item:nth-child(3) .button-illustration {
	background-color: #efc849;
}

.offers-item:nth-child(3) .button-illustration:hover {
	background-color: #eab534;
}


.about {
	display: flex;
	justify-content: space-between;
	margin-bottom: 75px;
}

.about-left {
	margin: 0;
	padding: 0;
	margin-top: 40px;
	width: 660px;
}

.about-left h3 {
	font-family: Roboto-medium, Arial, sans-serif;
	margin: 0;
	padding: 0;
	font-weight: 300;
	margin-bottom: 35px;
	font-size: 45px;
	line-height: 45px;
}

.about-left p {
	margin: 0;
	padding: 0;
	margin-bottom: 45px;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
}

.about-left-list li {
	display: relative;
}

.about-left-list li {
	font-family: Roboto, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 30px;
}

.about-left-list li:last-child {
	margin: 0;
}

.about-left-list li:nth-child(1n+2) {
	padding-left: 37px;
}

.about-left-list li:nth-child(1n+2):before {
	content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    margin: 11px 0px 0px -37px;
	background-color: #fb565a;
}

.about-left-list b {
	font-family: Roboto-bold, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
}

.about-right {
	margin: 0;
	padding: 0;
	width: 360px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.about-left-list,
.about-right-list{
	margin: 0;
	padding: 0;
	list-style: none;
}

.about-right-list {
	display: flex;
	flex-wrap: wrap;
	width: 360px;
}

.about-right-item {
	width: 100px;
	margin-left: 20px; 
}


.about-right-item:nth-child(3n+4),
.about-right-item:nth-child(1) {
	padding: 0;
	margin: 0;
}

.about-right h3 {
	margin-right: 15px;
	margin-top: 41px;
	margin-bottom: 49px;
}

.about-right b {
	display: inline-block;
	font-family: Roboto-bold, Arial, sans-serif;
	font-size: 45px;
	line-height: 45px;
	margin-bottom: 30px;
}

.about-right-item p {
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 18px;
	color: #283136;
}



.partners::before {
	content: "";
	position: absolute;
	margin-top: -90px;
	width: 1200px;
	border-bottom: 2px solid #eeeeee;
}

.partners::after {
	content: "";
	position: absolute;
	margin-top: 90px;
	width: 1200px;
	border-bottom: 2px solid #eeeeee;
}
.partners {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 180px;
	margin-bottom: 80px;
}

.partners a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 280px;
	opacity: 0.2;
}

.partners a:hover {
	opacity: 1.0;
}

.partners a:active {
	opacity: 0.1;
}

/* footer */

.main-footer {
	display: flex;
	margin-top: 80px;
	margin-bottom: 70px;
}

.social-list {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	width: 260px;
}

.social-item {
	list-style: none;
}

.social-item a {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 0;
	padding: 0;
	text-decoration: none;
	line-height: 0px;
	font-size: 0px;

	height: 80px;
	width: 80px;

	border-radius: 50%;
	background-color: #e1e1e1;
}

.social-item a:hover,
.social-item a:focus {
	background-color: #e74246;
}


.social-item a:active {
	color: rgba(255, 255, 255, 0.3);
	fill-opacity: 0.3;
	background-color: #d7373b;
	box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.discont {
	display: flex;
	flex-direction: column;
	margin-left: 140px;
	width: 560px;
}

.discont b, 
.discont p {
	margin: 0;
	padding: 0;
}

.discont b {
	margin-bottom: 13px;

	font-family: Roboto-bold, Arial, sans-serif;
	font-size: 36px;
	line-height: 36px;
}

.discont p {
	font-size: 16px;
	line-height: 22px;
}

/* map */

.test,
.wrapper,
.wrapper h2,
.wrapper p,
.wrapper a {
  margin: 0;
  padding: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

.test {
  position: absolute;
  z-index: 1;
  margin-top: 54px;
  left: 12.3%;
  display: flex;
  flex-direction: column;
  
  background-color: white;
  width: 320px;
  height: 310px;
}

.wrapper {
  width: 220px;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.wrapper h2 {
  font-family: Roboto-bold, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.wrapper p {
  width: 205px;
  margin-bottom: 42px;
  color: #666666;
}

.wrapper a {
	width: 220px;
	padding: 16px 0;
}

