ul, li, p, img {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: 
}

body {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 20px;
}


.main-nav img {
	object-fit: none;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.main-nav {
	text-align: center;
}

.index-title {
	background-color:#1b1310;
}
.index-title h1 {
	text-transform: uppercase;
	font-weight:600;
}

.color-red {
	color: #df0000;
}

.index-title p,
.index-title h1 {
	margin: 0;
	padding: 0;
	margin: 5px;
	color: #fff;
	text-align: center;
}

.index-title a {
	padding: 10px 30px;
	background-color: #003585;
	color: #fff;
	font-weight: 700;
	text-align: center;
}

.index-title .button-red {
	background-color: #f90001;
}

.main-nav {
	margin-bottom: 15px;
}

.index-title {
	margin-bottom: 60px;
}

.main-header {
	margin-bottom: 60px;
}

.justify-content-between {
	display: flex;
	justify-content: space-between;
}

.features-list li {
	margin-bottom: 15px;
}



.features-list .features-item p {
	text-align: center;
	width: 100%;
	padding: 0 20px;
}

.office-adds h2 {
	text-align: center;
}

.adds-list li {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 10px;
	padding: 10px;
	width: 100%;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.adds-item p {
	margin: 0;
	padding: 0;
	display: inline-block;

	margin-top: 10px;
	margin-bottom: 15px;
}

.adds-item button {
	width: 100%;
	padding: 10px 20px;
	border: none;
	background-color: #003585;
	color: #fff;
}

.office-adds {
	margin-bottom: 60px;
}

.discount {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #f4f4f4;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
}

.discount {
	text-align: center;
	margin-bottom: 90px;
}

.discount-form {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.discount h2 {
	font-size: 2rem;
}

@media (max-width: 600px) {
	.discount h2 {
		font-size: 1.2rem;
	}
}

.discount-form .row {
	margin-left: 20px;
	display: flex;
	justify-content: center;

}

.discount-form input {
	width: 100%;
	box-sizing: border-box;
	margin-left: -20px;
	margin-top: 15px;
	padding: 15px;
	border: none;
	border-radius: 50px;

}

@media (min-width: 768px) {
	.discount-form input {
		margin-right: 40px;
	}
}

.discount-form input[type="submit"] {
	background-color: #f50601;
	color: #fff;
	font-weight: 600;
}

.osago-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 15px;
}

.osago-info-1 h2 {
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
	margin-bottom: 40px;
}

@media (max-width: 600px) {
	.osago-info-1 h2 {
		font-size: 1.2rem;
	}
}

.osago-item img {
	width: 80%;
	max-width: 300px;
	object-fit: cover;
}

.osago-item p {
	text-align: center;
}

.document-input {	
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 15px;

	background-color: #e5e5e7;
}

.document-input h2 {
	font-weight: 800;
	text-align: center;
	margin-bottom: 20px;
}


@media (max-width: 600px) {
	.document-input h2 {
		font-size: 1.2rem;
	}
}

.document-input>div {
	width: 100%;
}

.document-input p {
	margin-bottom: 20px;
}

.document-button {
	max-width: 457px;
	padding: 10px 20px;
	border: none;
	background-color: #003585;
	color: #fff;
}

.online-request {
	top:50%;
	object-fit: cover;


	background-image: url(../img/online-request-bg.jpg);
	background-repeat: no-repeat;
    background-position: -690px 41%;
}

@media (min-width: 1000px) {
	.online-request {
		top:0;
		background-image: url(../img/online-request-bg.jpg);
		object-fit: none;
		background-position: 0 41%;
	}
}

.online-request h2 {
	margin: 0;
	padding: 0;
	padding-top: 30px;

	color: #fff;
	font-weight: 700;
	text-align: center;
}

.online-request>p {
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	text-align: center;
}

.request-list {
	margin: 0;
	padding: 0;
	margin-top: 30px;
	margin-right: 20px;
}

.request-item {
	margin: 0;
	padding: 0;
	color: #fff;
	font-weight: 100;


	display: flex;
	justify-content: flex-end;
}

.request-item p {
	margin: 5px;
	max-width: 500px;
	text-align: right;
}

.request-item-submit {
	display: flex;
	align-items: center;
	margin-top: 50px;
	padding-bottom: 30px;
}

.request-submit-button {
	max-width: 457px;
	padding: 10px 20px;
	border: none;
	background-color: #003585;
	color: #fff;
}

.request-item-submit span {
	margin-right: 30px;
}

.company-representative img {
	display: inline-block;


	min-width: 318px;
	transform: none;
	object-fit: none;	
}

.online-request {
	margin-bottom: 30px;
}

.company-representative {
	margin-bottom: 40px;
}

.company-representative h2,
.company-representative p {
	text-align: center;
}

.company-img-list {
	display: flex;
	justify-content: center;
}

.company-guarantees-1 {
	margin-bottom: 40px;
}

.company-guarantees-1 li {
	margin:0;
	padding: 0;
}

.company-guarantees-1 h2 {
	font-weight: 800;
	text-align: center;
	margin-bottom: 30px;
}

.company-guarantees-1 p,
.company-guarantees-1 h3 {
	text-align: center;
	max-width: 500px;
}

.company-guarantees-1 h3 {
	margin: 30px 0;
}


.company-guarantees-1 .guarantees-list {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

.company-guarantees-1 .guarantees-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-bottom: 20px;

}

.additional-info {
	margin-bottom: 40px;

	top:50%;
	object-fit: cover;


	background-image: url(../img/additional-1.png);
	background-repeat: no-repeat;
    background-position: -290px 41%;
}

@media (min-width: 1000px) {
	.additional-info {
		top:0;
		background-image: url(../img/additional-1.png);
		object-fit: none;
		background-position: 0 41%;
	}
}

.additional-info h2 {
	padding-top: 100px; 
	margin-bottom: 30px;
	color: #fff;
	font-weight: 300;
	text-align: center;
}

.additional-info p {
	color: #fff;
	margin:0 auto;
	max-width: 500px;
	text-align: center;
	font-weight: 300;
	padding-bottom: 100px;
}

