/*fonts*/
/*main*/
.container {
  width: 950px;
  margin: 0 auto;
  padding: 0 50px;
  background-color: #fff; }

.cnt-footer {
  background-color: #393939; }

.cnt-bottom-footer {
  background-color: #363636; }

body {
  background-color: #efefef;
  font-size: 13px;
  color: #5c5c5c; }

/*header*/
.header-wrapper {
  padding-bottom: 40px; }

.logo {
  margin: 50px 0 0 0;
  padding: 35px 0; }

.main-nav {
  display: flex;
  justify-content: space-between;
  background-color: #393939; }
  .main-nav .site-nav {
    justify-content: space-around;
    min-width: 720px; }
    .main-nav .site-nav a {
      padding: 21px 0;
      width: 100%;
      text-align: center;
      color: #d0d0d0;
      text-decoration: none;
      border-right: solid 1px #464646;
      text-transform: uppercase;
      font-weight: 700; }
  .main-nav .social-nav {
    justify-content: center;
    min-width: 88px; }
    .main-nav .social-nav a {
      margin: 21px 7px;
      text-align: center;
      color: #d0d0d0;
      text-decoration: none; }
  .main-nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; }

/*slider*/
.slider {
  position: relative;
  margin-bottom: 50px; }
  .slider .slider-list {
    position: relative;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 20px; }
    .slider .slider-list .slider-item h1, .slider .slider-list .slider-item h2, .slider .slider-list .slider-item h3 {
      margin: 0;
      padding: 0;
      font-size: 35px;
      color: #5c5c5c;
      margin-bottom: 30px; }
    .slider .slider-list .slider-item p {
      margin: 0;
      padding: 0;
      font-size: 25px;
      color: #5c5c5c;
      margin-bottom: 50px; }
    .slider .slider-list::before {
      content: '';
      position: absolute;
      background-image: url("../img/slider-button-prev.png");
      height: 35px;
      width: 35px;
      top: 50%;
      left: 0; }
    .slider .slider-list::after {
      content: '';
      position: absolute;
      background-image: url("../img/slider-button-next.png");
      height: 35px;
      width: 35px;
      top: 50%;
      right: 0; }
  .slider::after {
    content: '';
    position: absolute;
    background-image: url("../img/slider-navs.png");
    background-repeat: no-repeat;
    height: 11px;
    width: 59px;
    bottom: 0;
    left: 445px; }

/*specification*/
.specification {
  position: relative;
  margin: 0 auto;
  padding-bottom: 50px;
  text-align: center;
  max-width: 800px; }
  .specification::after {
    content: '';
    position: absolute;
    left: -75px;
    bottom: 0;
    height: 1px;
    width: 950px;
    background-color: #e3e3e3; }
  .specification h1, .specification h2, .specification h3, .specification h4 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 25px; }
  .specification p {
    font-size: 14px;
    margin-bottom: 40px; }
  .specification ul, .specification ul li {
    margin: 0;
    padding: 0;
    list-style: none; }
  .specification .specification-list {
    max-width: 780px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .specification .specification-list .specification-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .specification .specification-list .specification-item img {
        vertical-align: top; }
      .specification .specification-list .specification-item b {
        margin-top: 10px;
        font-size: 16px; }

/*portfolio*/
.portfolio {
  margin-top: 50px;
  padding-bottom: 50px; }
  .portfolio h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700; }
  .portfolio ul, .portfolio li {
    margin: 0;
    padding: 0;
    list-style: none; }
  .portfolio .portfolio-list {
    display: flex;
    justify-content: space-between; }
    .portfolio .portfolio-list .portfolio-item {
      max-width: 302px; }
      .portfolio .portfolio-list .portfolio-item h3 {
        margin: 0;
        padding: 0;
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 10px; }
      .portfolio .portfolio-list .portfolio-item p {
        margin: 0;
        padding: 0;
        color: #5c5c5c;
        font-size: 14px;
        line-height: 26px; }
      .portfolio .portfolio-list .portfolio-item .category {
        margin-bottom: 20px;
        line-height: 16px;
        font-size: 13px;
        color: #75cec2; }

/*footer*/
.main-footer {
  color: #d2d2d2;
  margin-bottom: 50px; }

.top-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  line-height: 24px; }
  .top-footer ul, .top-footer li {
    margin: 0;
    padding: 0;
    list-style: none; }
  .top-footer .footer-list {
    display: flex;
    justify-content: space-between; }
    .top-footer .footer-list .footer-item {
      min-width: 302px;
      font-size: 14px; }
      .top-footer .footer-list .footer-item h1, .top-footer .footer-list .footer-item h2, .top-footer .footer-list .footer-item h3 {
        text-transform: uppercase;
        font-size: 16px; }
      .top-footer .footer-list .footer-item p {
        padding: 0;
        margin: 0;
        margin-bottom: 30px;
        max-width: 270px; }
      .top-footer .footer-list .footer-item .contact-list li {
        padding-left: 20px; }

.contact-list li {
  position: relative; }

.contact-list .geolocal::before {
  content: '';
  position: absolute;
  background-image: url("../img/geolocal.png");
  background-repeat: no-repeat;
  left: 0;
  top: 5px;
  width: 9px;
  height: 13px; }

.contact-list .tel {
  position: relative; }
  .contact-list .tel::before {
    content: '';
    position: absolute;
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    left: 0;
    bottom: 30%;
    width: 10px;
    height: 11px; }

.contact-list .mail {
  position: relative; }
  .contact-list .mail::before {
    content: '';
    position: absolute;
    background-image: url("../img/mail.png");
    background-repeat: no-repeat;
    left: 0;
    bottom: 30%;
    width: 12px;
    height: 8px; }

.bottom-footer {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .bottom-footer p {
    margin: 0;
    padding: 0; }
